aiotiktok==2.6.3
anyio==3.7.0
browser-cookie3==0.18.2
certifi==2023.5.7
charset-normalizer==3.1.0
exceptiongroup==1.1.1
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
idna==3.4
lz4==4.3.2
msgspec==0.15.1
Naked==0.1.32
pycryptodome==3.18.0
pycryptodomex==3.18.0
PyExecJS==1.5.1
PyYAML==6.0
requests==2.31.0
shellescape==3.8.1
six==1.16.0
sniffio==1.3.0
tls-client==0.2.1
urllib3==2.0.2
